$headerHeight: 80px
$spaceDefault: 20px
$sidebarWidth: 300px
$defaultRadius: 6px


//colors
$colorBlack: #000000
$colorWhite: #ffffff
$colorDanger: #d75553

$colorGray1: #ccc //used in borders
$colorGray2: #475052
$colorGray3: #ebebeb
$colorGray4: #adadad


$colorBlue1: #01b1e7
$colorBlue2: #002d3a
$colorBlue3: #001b23
$colorBlue4: #00161d
$colorBlue5: #b3bcbf


$heightDefault: 40px
