$headerHeight: 80px
$spaceDefault: 20px
$sidebarWidth: 300px
$defaultRadius: 5px


//colors
$colorBlack: #000000
$colorWhite: #ffffff

$colorDanger: #d85553
$colorDark: #001015

// $colorGray1: #ccc //used in borders
// $colorGray2: #475052
// $colorGray3: #ebebeb
// $colorGray4: #adadad
// $colorGray5: #f7f7f7


// $colorBlue1: #01b1e7
// $colorBlue2: #002d3a
// $colorBlue3: #001b23
// $colorBlue4: #00161d
// $colorBlue5: #b3bcbf


$heightSmall: 32px
$heightDefault: 40px

$colorGray1: #ccc
$colorGray2: #f5f5f5
$colorGray3: #666

$colorBase1: #01b1e7
$colorBase2: #001a22
$colorBase3: #d1f1fb


$colorBlue1: mix($colorBlack, $colorBase1, 15%)

$colorBlue2: mix($colorWhite, $colorBase2, 24%)

$colorBlue3: mix($colorBlack, $colorBase1, 82%)

$colorBlue4: mix($colorBlack, $colorBase1, 92%)

$colorBlue5: mix($colorBlack, $colorBase1, 75%)

