[class*="cs-dropdown"]
  display: inline-block
  position: relative
  border-bottom: 10px solid transparent


  &.cs-dropdown-secondary

    [class*="cs-btn"]
      @extend %style-dark
      background: transparent

      &:after
        +arrow-down(#fff, 6px)

      &:hover
        @extend %style-dark-hover

  > ul
    position: absolute
    top: 114%
    left: 0
    margin-top: -1px
    border: solid $colorGray1
    border-radius: $defaultRadius
    border-width: 1px
    background: #fff
    opacity: 0
    visibility: hidden
    white-space: nowrap

    &.cs-right
      left: auto
      right: 0

    li
      border-bottom: 1px solid $colorGray1

      &:last-child
        border-bottom: none

    a
      color: $colorBlue2
      padding: 10px 20px
      display: block
      font-size: 15px
      text-decoration: none

      &:hover,
      &:focus
        @extend %btn-hover


      &:last-child
        border-bottom-left-radius: $defaultRadius
        border-bottom-right-radius: $defaultRadius


  [class*="cs-btn"]

    &:empty:after
      margin-left: 0

    &:after
      content: ""
      +arrow-down(#000, 6px)
      margin-left: 10px
      top: 4px
      position: relative

    &:focus ~ ul
      visibility: visible
      opacity: 1


  &:hover
    .cs-dropdown-selected
      background: #fff
      border-color: #555
      border-bottom-color: transparent
      position: relative
      z-index: 1

    > ul
      visibility: visible
      opacity: 1
      z-index: 9

  &.cs-dropdown-pos-right ul
    left: auto
    right: 0

.cs-dropdown-selected
  display: block
  padding: 4px 10px
  border: 1px solid transparent

//background site
.cs-dropdown-background


  [class*="cs-btn"]
    height: 60px
    line-height: 50px
    text-align: right
    position: relative
    overflow: hidden
    width: 120px

    img
      position: absolute
      display: block
      top: -5px
      left: -5px
      height: 66px
      width: 86px

    &:after
      top: 0

  ul
    background: #fff
    border: 1px solid $colorGray1
    box-shadow: 0 0 2px $colorGray1

    li
      border: none
      width: 50%
      padding: 2px

      img
        display: block
        width: 100%
