.cs-topbar
  background: #f4f4f4
  border-bottom: 1px solid $colorGray1
  padding: $spaceDefault 30px $spaceDefault $spaceDefault
  width: 100%
  height: $headerHeight
  position: fixed
  top: 0
  left: 0
  z-index: 10

  .cs-actions-topbar
    float: right

  a
    color: #fff
    text-decoration: none

  .cs-logo
    float: left
    color: #fff
    background: $colorBlue1
    margin: -$spaceDefault
    padding: 0 $spaceDefault
    width: $sidebarWidth

    a
      @extend %font-smoothing
      background: url(../images/logo.png) no-repeat 0 center
      height: $headerHeight
      line-height: $headerHeight
      font-weight: 400
      letter-spacing: -1px
      padding-left: 65px
      font-size: 27px
      display: block

  .cs-lang
    vertical-align: middle
    margin-right: $spaceDefault
    width: 100px

  .cs-group-btn
    vertical-align: middle
    display: inline-block

  .cs-custom-select-auto + .cs-group-btn
    margin: 0 $spaceDefault

    .cs-btn:before
      font-size: 20px

  .cs-dropdown
    margin-left: $spaceDefault

  [class*="cs-custom-select"],
  [class*="cs-btn"]
    height: $heightBig

  [class*="cs-btn"]
    padding: 9px 20px

    &:before:empty
      padding: 9px



