.cs-topbar
  padding: 20px
  width: 100%
  height: $headerHeight
  position: fixed
  top: 0
  left: 0
  z-index: 10
  background: #219af8

  a
    color: #fff
    text-decoration: none

  .cs-logo
    float: left
    font-size: 16px
    color: #fff
