//
// Select Custom
//

[class*="cs-custom-select"]
  background: #fff
  display: inline-block
  position: relative
  border: 1px solid $colorGray1
  border-radius: $defaultRadius
  overflow: hidden
  vertical-align: middle
  height: $heightDefault
  width: 100%

  &:hover
    @extend %btn-hover

  &.cs-size-small
    height: $heightSmall

    select
      font-size: 14px
      padding: 1px 30px 3px 15px

  &.cs-custom-select-auto
    width: auto

  &.cs-custom-select-secondary
    @extend %style-dark
    background: none
    text-align: right

    select
      background: none
      text-align: left
      color: $colorGray1

    &:before
      +arrow-down($colorWhite, 5px)
      position: absolute


  &[disabled]
    border-color: $colorGray1

  select
    @include appearance(none)
    position: relative
    height: inherit
    padding: 5px 30px 5px 15px
    display: inline-block
    border: none
    background: none
    color: $colorBlue2
    font-size: 15px
    width: 100%
    width: 145%\9
    z-index: 1

    option
      padding: 5px 10px

    &[disabled],
      background: $colorGray1

  &:before
    +arrow-down($colorBlue3, 5px)
    content: ""
    width: 0
    height: 0
    margin-left: 5px
    position: absolute
    top: 50%
    margin-top: -2px
    right: 10px
    z-index: 2
    pointer-events: none

  &:after
    content: ""
    height: inherit
    position: absolute
    pointer-events: none
    width: 30px
    right: 0
    top: 0
    z-index: 1
