$sidebar-nav-itens: elements, appearance, pages
$sidebar-duration: 0s
$sidebar-timing: ease-in-out

.cs-sidebar
  position: fixed
  top: $headerHeight
  color: $colorBlue5
  font-size: 13px
  left: 0
  bottom: 0
  width: $sidebarWidth
  background: $colorBlue3
  box-shadow: 1px 0 3px rgba(0,0,0,0.6)
  z-index: 2

  p
    margin-bottom: 15px

  .cs-tab-label
    color: rgba($colorWhite,0.6)
    cursor: pointer
    border-left: 1px solid $colorBlue3
    background: $colorBlue2
    width: 33.3%
    float: left
    text-align: center
    text-transform: uppercase
    font-size: 12px
    padding: 15px 0

    &:before
      color: rgba($colorBlue1,0.6)
      display: block
      margin-bottom: 5px
      font-size: 20px

    &:first-child
      border-left: none


.cs-sidebar-nav-option
  position: absolute
  top: 78px
  right: 0
  bottom: 0
  left: 0
  padding: 0 18px
  overflow-y: auto
  opacity: 0
  visibility: hidden
  @include transition(all $sidebar-duration $sidebar-timing)

//active nav in sidebar
input[id*="cs-sidebar-nav-"]
  @extend %hidden-element

  &:checked + .cs-tab-label
    color: $colorWhite
    background: transparent

    &:before
      color: $colorBlue1

@each $sidebar-nav-item in $sidebar-nav-itens
  input[id="cs-sidebar-nav-#{$sidebar-nav-item}"]:checked ~
    .cs-sidebar-nav
      label[for="cs-sidebar-nav-#{$sidebar-nav-item}"]
        border-bottom-color: transparent

    .cs-sidebar-nav-#{$sidebar-nav-item}
      visibility: visible
      opacity: 1
