.cs-doc-nav
  position: fixed
  top: 0
  left: 0
  bottom: 0
  width: 175px
  background: #f9f9f9
  min-height: 100%

  li
    border-bottom: 1px solid darken(#f9f9f9, 10%)

  a
    padding: 5px 10px
    color: #000
    text-decoration: none
    display: block




.cs-doc-elements
  float: right
  margin-right: 25px
  width: calc( 100% - 220px)

  .title
    margin-bottom: 20px
    font-size: 20px

#icones li
  display: inline-block
  font-size: 36px
  margin-top: 10px
  width: 24%

#icones li:before
  padding: 10px
  background: #f9f9f9


hr
  border-top: 1px solid #ccc
  margin: 30px 0
