---
layout: doc
---


<div class="cs-doc-nav">
  <ul >
    <li>
      <a href="<%= base_url %>/doc/#icones">Icones</a>
    </li>
    <li>
      <a href="<%= base_url %>/doc/#botoes">Botões</a>
    </li>
    <li>
      <a href="<%= base_url %>/doc/#select">Select</a>
    </li>
  </ul>
</div>

<div class="cs-doc-elements">
  <h1 class="title">Yata Guide</h1>

  <div id="select">
    <h2>Select customizada</h2>
    <div class="cs-custom-select">
      <select class="ls-select">
        <option value="1"> Opção 1 </option>
        <option value="2"> Opção 2 </option>
        <option value="3"> Opção 3 </option>
        <option value="4"> Opção 4 </option>
      </select>
    </div>

  </div>

  <hr>


  <div id="botoes">
    <h2>Botões</h2>
    <a href="#1" class="cs-btn-primary">Primary</a>
    <a href="#2" class="cs-btn">Default</a>
    <a href="#3" class="cs-btn-secondary">Secondary</a>
    <a href="#4" class="cs-btn-danger">Danger</a>
    <a href="#4" class="cs-btn-confirm">Confirm</a>

    <button type="button" value= "teste" class="cs-btn">Button</button>
    <input type="submit" value= "input" class="cs-btn">

    <br><br>
    <h2>Tamanho de botões</h2>
    <a href="#" class="cs-btn-primary cs-btn-lg">Grande</a>
    <a href="#" class="cs-btn-primary">Normal</a>
    <a href="#" class="cs-btn-primary cs-btn-xs">Pequeno</a>

    <br><br>
    <h2>Botões desativados</h2>
    <a href="#" class="cs-btn-primary" disabled="disabled">Primary</a>
    <input type="button" value="Default" disabled class="cs-btn">
    <button class="cs-btn-secondary cs-disabled">Secondary</button>
    <button class="cs-btn-danger cs-disabled">Danger</button>

    <br><br>
    <h2>Botões com ícones e texto</h2>
    <a href="#" class="cs-btn-primary cs-ico-more">Texto</a>
    <button class="cs-btn-secondary cs-ico-duplicate">Duplicar</button>
    <button class="cs-btn cs-ico-config">Configurações</button>
    <button class="cs-btn-danger cs-ico-trash">Remover</button>

    <br><br>

    <h2>Botões com ícones somente</h2>
    <a href="#" class="cs-btn-primary cs-ico-more"></a>
    <button class="cs-btn-secondary cs-ico-duplicate"></button>
    <button class="cs-btn cs-ico-config"></button>
    <button class="cs-btn-danger cs-ico-trash"></button>

    <br><br>
    <h2>Grupo de botões</h2>
    <div class="cs-group-btn">
      <button type="button" class="cs-btn">Botão 1</button>
      <button type="button" class="cs-btn">Botão 2</button>
      <button type="button" class="cs-btn">Botão 3</button>
    </div>


    <br><br>

     <div class="cs-group-btn">
      <button type="button" title="Salvar site" class="cs-btn">Salvar</button>
      <button type="button" title="Visualizar site" class="cs-btn">Visualizar</button>
      <button type="button" title="Publicar site" class="cs-btn-primary">Publicar</button>
    </div>

    <br><br>
    <h2>Botões ativados/desativados</h2>
    <div class="cs-group-btn cs-group-active">
      <button type="button" class="cs-btn-primary cs-active">Botão 1</button>
      <button type="button" class="cs-btn-primary">Botão 2</button>
      <button type="button" class="cs-btn-primary">Botão 3</button>
    </div>
    <br><br>
    <div class="cs-group-btn cs-group-active">
      <button type="button" class="cs-btn cs-active">Botão 1</button>
      <button type="button" class="cs-btn">Botão 2</button>
      <button type="button" class="cs-btn">Botão 3</button>
    </div>
    <br><br>
    <div class="cs-group-btn cs-group-active">
      <button type="button" class="cs-btn-secondary cs-active">Botão 1</button>
      <button type="button" class="cs-btn-secondary">Botão 2</button>
      <button type="button" class="cs-btn-secondary">Botão 3</button>
    </div>
    <br><br>
    <h1>Usando com elementos de formulários </h1>
    <br><br>
    <h3>Usando radio</h3>
    <div class="cs-group-btn cs-group-active">
      <input type="radio" id="radio1" name="radio">
      <label for="radio1" class="cs-btn">radio 1</label>
      <input type="radio" id="radio2" name="radio">
      <label for="radio2" class="cs-btn">radio 2</label>
      <input type="radio" id="radio3" name="radio">
      <label for="radio3" class="cs-btn">radio 3</label>
    </div>
    <br><br>
    <h3>Usando checkbox</h3>
    <div class="cs-group-btn cs-group-active">
      <input type="checkbox" id="check1a" name="check1a">
      <label for="check1a" class="cs-btn">check 1</label>
      <input type="checkbox" id="check2a" name="check2a">
      <label for="check2a" class="cs-btn">check 2</label>
      <input type="checkbox" id="check3a" name="check3">
      <label for="check3a" class="cs-btn">check 3</label>

    </div>
    <br>
    <div class="cs-group-btn cs-group-active">
      <input type="checkbox" id="check1b" name="check1b">
      <label for="check1b" class="cs-btn-primary">check 1</label>
      <input type="checkbox" id="check2b" name="check2b">
      <label for="check2b" class="cs-btn-primary">check 2</label>
      <input type="checkbox" id="check3b" name="check3b">
      <label for="check3b" class="cs-btn-primary">check 3</label>

    </div>
    <br>
    <div class="cs-group-btn cs-group-active">
      <input type="checkbox" id="check1c" name="check1c">
      <label for="check1c" class="cs-btn-secondary">check 1</label>
      <input type="checkbox" id="check2c" name="check2c">
      <label for="check2c" class="cs-btn-secondary">check 2</label>
      <input type="checkbox" id="check3c" name="check3c">
      <label for="check3c" class="cs-btn-secondary">check 3</label>

    </div>


  </div>

  <hr>

  <div id="icones">
    <h2>Ícones</h2>
    <ul>
      <li class="cs-ico-apparence">cs-ico-apparence</li>
      <li class="cs-ico-block">cs-ico-block</li>
      <li class="cs-ico-pages">cs-ico-pages</li>
      <li class="cs-ico-go">cs-ico-go</li>
      <li class="cs-ico-back">cs-ico-back</li>
      <li class="cs-ico-alert">cs-ico-alert</li>
      <li class="cs-ico-ok">cs-ico-ok</li>
      <li class="cs-ico-check">cs-ico-check</li>
      <li class="cs-ico-close">cs-ico-close</li>
      <li class="cs-ico-code">cs-ico-code</li>
      <li class="cs-ico-config">cs-ico-config</li>
      <li class="cs-ico-arrow-down">cs-ico-arrow-down</li>
      <li class="cs-ico-arrow-up">cs-ico-arrow-up</li>
      <li class="cs-ico-duplicate">cs-ico-duplicate</li>
      <li class="cs-ico-question">cs-ico-question</li>
      <li class="cs-ico-edit">cs-ico-edit</li>
      <li class="cs-ico-form">cs-ico-form</li>
      <li class="cs-ico-gallery">cs-ico-gallery</li>
      <li class="cs-ico-home">cs-ico-home</li>
      <li class="cs-ico-image">cs-ico-image</li>
      <li class="cs-ico-trash">cs-ico-trash</li>
      <li class="cs-ico-more">cs-ico-more</li>
      <li class="cs-ico-drag">cs-ico-drag</li>
      <li class="cs-ico-share">cs-ico-share</li>
      <li class="cs-ico-arrows">cs-ico-arrows</li>
      <li class="cs-ico-suggestion">cs-ico-suggestion</li>
      <li class="cs-ico-text">cs-ico-text</li>
      <li class="cs-ico-upload">cs-ico-upload</li>
      <li class="cs-ico-sale">cs-ico-sale</li>
      <li class="cs-ico-video">cs-ico-video</li>
    </ul>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

