      <div id="ember798" class="ember-view">
      	<input type="checkbox" name="cs-sidebar-new-page" id="cs-sidebar-new-page" data-ember-action="799">
				<div class="cs-sidebar-new-page">
				  <div class="input cs-inline-block">
				    <label class="cs-block" for="cs-page-new-page-title">Título da página</label>
				    <input type="text" id="cs-page-new-page-title">
				  </div>

				  <div class="checkbox cs-float-r">
				    <label class="cs-block" for="cs-page-new-page-show">Exibir no menu?</label>
				    <input type="checkbox" class="cs-check-toggle" checked="checked" id="cs-page-new-page-show">
				    <label for="cs-page-new-show"></label>
				  </div>

				  <div class="textarea">
				    <label class="cs-block" for="cs-page-new-page-description">Descrição da página para Google</label>
				    <textarea cols="72" rows="5" id="cs-page-new-page-description"></textarea>
				  </div>

				  <div class="select">
				    <label for="cs-page-new-page-parent">Inserir abaixo de</label>
				    <select id="cs-page-new-page-parent">
				      <option>Selecione</option>
				      <option>Sobre</option>
				      <option>Contato</option>
				    </select>
				  </div>

				  <hr>

				    <input type="checkbox" id="cs-page-new-config">
				    <label for="cs-page-new-config">Configurações avançadas</label>
				    <div class="cs-page-new-config">
				      <h4>Endereço da página</h4>
				      <p>
				        O Google reconhece este endereço, por isso evite alterar com frequência.<br>
				        Caso tenha mais de uma palavra, separe por hífens. Por exemplo: quem-somos
				      </p>
				      <div class="input">
				        <label>
				          http://meusite.com.br/
				          <input type="text" placeholder="pagina-teste">
				        </label>
				      </div>

				      <div class="checkbox cs-inline-block">
				        <label class="cs-block" for="cs-page-new-page-off-search">
				          Esconder página dos buscadores. Google, Bing, Yahoo, etc.
				        </label>
				        <input type="checkbox" class="cs-check-toggle" id="cs-page-new-page-off-search">
				        <label for="cs-page-new-page-off-search"></label>
				      </div>
				    </div>

				    <hr>

				  <footer class="cs-sidebar-footer">
					  <button data-ember-action="800" class="cs-btn-primary">Salvar</button>
					  <label class="cs-btn" for="cs-sidebar-new-page">Cancelar</label>
				  </footer>  

				</div>
			</div>


      <div id="ember801" class="ember-view">
      	<input type="checkbox" name="cs-sidebar-new-page" id="cs-sidebar-new-link" data-ember-action="802">
				<div class="cs-sidebar-new-page">
				  <div class="input cs-inline-block">
				    <label class="cs-block" for="cs-page-new-link-title">Título da página</label>
				    <input type="text" id="cs-page-new-link-title">
				  </div>

				  <div class="checkbox cs-float-r">
				    <label class="cs-block" for="cs-page-new-link-show">Exibir no menu?</label>
				    <input type="checkbox" class="cs-check-toggle" checked="checked" id="cs-page-new-link-show">
				    <label for="cs-page-new-show"></label>
				  </div>

				  <div class="textarea">
				    <label class="cs-block" for="cs-page-new-link-description">Descrição da página para Google</label>
				    <textarea cols="72" rows="5" id="cs-page-new-link-description"></textarea>
				  </div>

				  <div class="select">
				    <label for="cs-page-new-link-parent">Inserir abaixo de</label>
				    <select id="cs-page-new-link-parent">
				      <option>Selecione</option>
				      <option>Sobre</option>
				      <option>Contato</option>
				    </select>
				  </div>

				  <hr>

				  <button data-ember-action="803">Criar página</button>
				  <label class="cs-float-r" for="cs-sidebar-new-link">Cancelar</label>
				</div>
			</div>