<div id="ember653" class="ember-view"><input type="checkbox" name="cs-sidebar-new-page" id="cs-sidebar-new-link" data-ember-action="654">
	<div class="cs-sidebar-new-page">
	  <div class="input cs-inline-block">
	    <label class="cs-block" for="cs-page-new-link-title">Título da página</label>
	    <input type="text" id="cs-page-new-link-title">
	  </div>

	  <div class="checkbox cs-float-r">
	    <label class="cs-block" for="cs-page-new-link-show">Exibir no menu?</label>
	    <input type="checkbox" class="cs-check-toggle" checked="checked" id="cs-page-new-link-show">
	    <label for="cs-page-new-show"></label>
	  </div>

	  <div class="textarea">
	    <label class="cs-block" for="cs-page-new-link-description">Descrição da página para Google</label>
	    <textarea cols="72" rows="5" id="cs-page-new-link-description"></textarea>
	  </div>

	  <div class="select">
	    <label for="cs-page-new-link-parent">Inserir abaixo de</label>
	    <select id="cs-page-new-link-parent">
	      <option>Selecione</option>
	      <option>Sobre</option>
	      <option>Contato</option>
	    </select>
	  </div>

	  <hr>

	  <button data-ember-action="655">Criar página</button>
	  <label class="cs-float-r" for="cs-sidebar-new-link">Cancelar</label>
	</div>
</div>