

<div class="cs-page">
  <p>Page -K1KYuAfIAnz5bLr3zE6</p>
  <form data-ember-action="628">
    <p>
      <label for="title">Título</label>
      <input id="title" placeholder="Título" type="text" class="ember-view ember-text-field">
    </p>
    <p>
      <label for="main">Home</label>
      <input id="main" type="checkbox" class="ember-view ember-checkbox">
    </p>
    <button>Atualizar</button>
  </form>
  <hr>
  <button data-ember-action="645">Criar seção</button>
  <p>Seções</p>
  <div id="ember646" class="ember-view cs-sections ui-sortable">
    <div id="ember657" data-id="-K1KYvpajDyAVIehu1N3" class="ember-view cs-section ui-sortable-handle" style="min-height: 793px;">
      <div id="ember666" class="ember-view ui-resizable">
      <p>Section -K1KYvpajDyAVIehu1N3</p>
      <p>Position: 1</p>
      <button data-ember-action="667">Criar linha</button>
      <p>Linhas</p>
      <div id="ember668" class="ember-view cs-lines ui-sortable">
        <div id="ember767" data-id="-K1KYwM3s5XKDfv4Uggm" class="ember-view cs-line">
          <p>Line -K1KYwM3s5XKDfv4Uggm</p>
          <p>position: 1</p>
          <button data-ember-action="768">Criar box</button>
          <p>Boxes</p>
          <div id="ember769" class="ember-view cs-boxes ui-sortable">
          <div id="ember826" data-id="-K1KYwMFrCF8ZgNvkzkH" class="ember-view cs-box">
            <p>Box -K1KYwMFrCF8ZgNvkzkH</p>
            <p>position: 1</p>
            <p>Widgets</p>
            <div id="ember827" class="ember-view cs-widgets ui-sortable">
              <div id="ember894" data-id="-K1jOpesqU7Do9W6neC8" class="ember-view cs-widget" data-position="1">
                <div class="cs-widget-wrapper" style="background: ;">
                  widget: -K1jOpesqU7Do9W6neC8
                  <br>
                  position: 1
                  <br>
                  kind: text
                  <br>
                  <div id="ember944" class="ember-view cs-text-widget">
                    <h4>Text Widget</h4>
                </div>
              <br>

              <button data-ember-action="895">Editar</button>
              <button data-ember-action="896">Duplicar</button>
            </div>
          </div>
          <div id="ember878" data-id="-K1KYwMOGHHkY3oXuQZn" class="ember-view cs-widget" data-position="2">
            <div class="cs-widget-wrapper" style="background: ;">
              widget: -K1KYwMOGHHkY3oXuQZn
              <br>
              position: 2
              <br>
              kind:
              <br>

              <br>

              <button data-ember-action="879">Editar</button>
              <button data-ember-action="880">Duplicar</button>
            </div>
          </div>
          <div id="ember890" data-id="-K1KuxEzQklB8Jnot8fr" class="ember-view cs-widget" data-position="3">
            <div class="cs-widget-wrapper" style="background: ;">
              widget: -K1KuxEzQklB8Jnot8fr
              <br>
              position: 3
              <br>
              kind: form
              <br>
              <div id="ember953" class="ember-view cs-form-widget"><h4>Form Widget</h4>
            </div>
            <br>

            <button data-ember-action="891">Editar</button>
            <button data-ember-action="892">Duplicar</button>
          </div>
        </div>
    <div id="ember882" data-id="-K1Ku2QES-VhtY3WSQ7n" class="ember-view cs-widget" data-position="4"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1Ku2QES-VhtY3WSQ7n
  <br>
  position: 4
  <br>
  kind: image
  <br>
  <div id="ember962" class="ember-view cs-image-widget"><h4>Image Widget</h4>
</div>
  <br>

    <button data-ember-action="883">Editar</button>
    <button data-ember-action="884">Duplicar</button>
</div>
</div>
    <div id="ember886" data-id="-K1KuAdll2-eVgSUvsi7" class="ember-view cs-widget" data-position="5"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1KuAdll2-eVgSUvsi7
  <br>
  position: 5
  <br>
  kind:
  <br>

  <br>

    <button data-ember-action="887">Editar</button>
    <button data-ember-action="888">Duplicar</button>
</div>
</div>

</div></div>
    <div id="ember837" data-id="-K1Ky2piTVZ6FpZ5AgXe" class="ember-view cs-box"><p>Box -K1Ky2piTVZ6FpZ5AgXe</p>
<p>position: 2</p>
<p>Widgets</p>
<div id="ember838" class="ember-view cs-widgets ui-sortable">    <div id="ember899" data-id="-K1Ky2pwVkLTYlZ_8N4o" class="ember-view cs-widget" data-position="1"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1Ky2pwVkLTYlZ_8N4o
  <br>
  position: 1
  <br>
  kind:
  <br>

  <br>

    <button data-ember-action="900">Editar</button>
    <button data-ember-action="901">Duplicar</button>
</div>
</div>
    <div id="ember903" data-id="-K1o6eIi2JRIpdhtEDvD" class="ember-view cs-widget" data-position="2"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1o6eIi2JRIpdhtEDvD
  <br>
  position: 2
  <br>
  kind:
  <br>

  <br>

    <button data-ember-action="904">Editar</button>
    <button data-ember-action="905">Duplicar</button>
</div>
</div>

</div></div>
    <div id="ember840" data-id="-K1KyFC9L-bfrFXqxwuv" class="ember-view cs-box"><p>Box -K1KyFC9L-bfrFXqxwuv</p>
<p>position: 3</p>
<p>Widgets</p>
<div id="ember841" class="ember-view cs-widgets ui-sortable">    <div id="ember908" data-id="-K1KyFCKJihbapJMacao" class="ember-view cs-widget" data-position="1"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1KyFCKJihbapJMacao
  <br>
  position: 1
  <br>
  kind:
  <br>

  <br>

    <button data-ember-action="909">Editar</button>
    <button data-ember-action="910">Duplicar</button>
</div>
</div>

</div></div>
    <div id="ember846" data-id="-K1f8pXr8prlm88JMKfc" class="ember-view cs-box"><p>Box -K1f8pXr8prlm88JMKfc</p>
<p>position: 4</p>
<p>Widgets</p>
<div id="ember847" class="ember-view cs-widgets ui-sortable">    <div id="ember927" data-id="-K1f8pXwe_plcLbdfkl7" class="ember-view cs-widget" data-position="1"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1f8pXwe_plcLbdfkl7
  <br>
  position: 1
  <br>
  kind:
  <br>

  <br>

    <button data-ember-action="928">Editar</button>
    <button data-ember-action="929">Duplicar</button>
</div>
</div>

</div></div>
    <div id="ember843" data-id="-K1KyRNweNGMNJjFdxp0" class="ember-view cs-box"><p>Box -K1KyRNweNGMNJjFdxp0</p>
<p>position: 5</p>
<p>Widgets</p>
<div id="ember844" class="ember-view cs-widgets ui-sortable">    <div id="ember913" data-id="-K1KyRODDMdDSwKjh-cR" class="ember-view cs-widget" data-position="1"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1KyRODDMdDSwKjh-cR
  <br>
  position: 1
  <br>
  kind:
  <br>

  <br>

    <button data-ember-action="914">Editar</button>
    <button data-ember-action="915">Duplicar</button>
</div>
</div>
    <div id="ember917" data-id="-K1LRq14hRn4mELEgcZE" class="ember-view cs-widget" data-position="3"><div class="cs-widget-wrapper" style="background: ;">
  widget: -K1LRq14hRn4mELEgcZE
  <br>
  position: 3
  <br>
  kind: image
  <br>
  <div id="ember971" class="ember-view cs-image-widget"><h4>Image Widget</h4>
</div>
  <br>

    <button data-ember-action="918">Editar</button>
    <button data-ember-action="919">Duplicar</button>
</div>
</div>

</div></div>

</div></div>
        <div id="ember780" data-id="-K1fL8SU-f-GllpEadQP" class="ember-view cs-line"><p>Line -K1fL8SU-f-GllpEadQP</p>
<p>position: 2</p>
<button data-ember-action="781">Criar box</button>
<p>Boxes</p>
<div id="ember782" class="ember-view cs-boxes ui-sortable">
</div></div>

</div>  <div id="ember686" class="ember-view btn-add-section"><button class="cs-float-r" data-ember-action="687">+</button>
</div>

<div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div></div></div>

</div></div>
