<div id="ember798a" class="ember-view">
  <input type="checkbox" name="cs-sidebar-new-page"  id="cs-sidebar-edit-page" data-ember-action="799">
  <div class="cs-sidebar-new-page">
    <span class="cs-sidebar-arrow"></span>
    <h2 class="cs-sidebar-title">Configurar páginas</h2>
    <p>Lorem ipsum dolor sit amet</p>

    <div class="cs-fieldset">

      <div class="cs-field-inline">
        <label class="cs-label">
          <b class="cs-text-label">Título da página</b>
          <input type="text" id="title-page" class="cs-field" placeholder="Dica: max: 70 caracteres">
        </label>

        <label class="cs-label">
          <b class="cs-text-label">Exibir no menu?</b>
         <div class="cs-group-btn cs-group-active">
            <input type="radio" id="radio1" checked name="radio">
            <label for="radio1" class="cs-btn">Sim</label>
            <input type="radio" id="radio2"  name="radio">
            <label for="radio2" class="cs-btn">Não</label>
          </div>
        </label>
      </div>

      <label class="cs-label">
        <b class="cs-text-label">Descrição da página para Google</b>
        <textarea cols="72" rows="8" class="cs-field" placeholder="Esta é a descrição que será exibida no Google e em outros buscadores."></textarea>
      </label>

      <label class="cs-label-block">
        <b class="cs-text-label">Endereço da página <a href="#" class="cs-tooltip-top" aria-label="O Google reconhece este endereço, por isso evite alterar com frequência.
Caso tenha mais de uma palavra, separe por hífens. Por exemplo: quem-somos">
    <span class="cs-help-info"></span>
  </a></b>
        <div class="cs-prefix-group">
          <span class="cs-prefix">http://meusite.com.br/</span>
          <input class="cs-field" id="url-page">
        </div>
      </label>

      <label class="cs-label-block">
        <b class="cs-text-label">Inserir abaixo de:</b>
        <div class="cs-custom-select">
          <select id="cs-page-new-page-parent">
            <option>Nenhum</option>
            <option>Produtos</option>
            <option>Contato</option>
            <option>Links úteis</option>
          </select>
        </div>
      </label>


      <label class="cs-label-block">
        <b class="cs-text-label">Esconder dos buscadores. Google, Bing, Yahoo, etc.</b>
       <div class="cs-group-btn cs-group-active">
          <input type="radio" id="radio3" name="radio2">
          <label for="radio3" class="cs-btn">Sim</label>
          <input type="radio" id="radio4" checked name="radio2">
          <label for="radio4" class="cs-btn">Não</label>
        </div>
      </label>

      <p>
        <a href="" class="cs-fanpage">Adicionar página do site à FanPage</a>
        <span class="cs-ico-check"></span>
        <a href="" class="cs-link">remover</a>
      </p>

    </div>

    <footer class="cs-sidebar-footer">
      <label class="cs-btn-primary" id="cancel-add-page" for="cs-sidebar-edit-page">Salvar</label>
      <label class="cs-btn" id="cancel-add-page" for="cs-sidebar-edit-page">Cancelar</label>
      <button class="cs-btn-danger" id="delete-page">Apagar página</button>
    </footer>

  </div>
</div>
