<sidebar id="ember527" class="ember-view cs-sidebar">
  <input type="radio" id="cs-sidebar-nav-elements" name="cs-sidebar-nav" checked="checked">
  <input type="radio" id="cs-sidebar-nav-appearance" name="cs-sidebar-nav">
  <input type="radio" id="cs-sidebar-nav-pages" name="cs-sidebar-nav">
  <ul class="cs-sidebar-nav cs-clearfix">
    <li>
      <label for="cs-sidebar-nav-elements">Incluir elementos</label>
    </li>
    <li>
      <label for="cs-sidebar-nav-appearance">Editar aparência</label>
    </li>
    <li>
      <label for="cs-sidebar-nav-pages">Configurar páginas</label>
    </li>
  </ul>

  <div id="ember536" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-elements cs-widgets-group">
    <div id="ember548" data-kind="text" class="ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">Text
    </div>
    <div id="ember550" data-kind="image" class="ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">Image
    </div>
    <div id="ember552" data-kind="form" class="ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">Form
    </div>
  </div>

  <div id="ember561" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-appearance">
    <a href="javascript:;">Editar CSS { ... }</a>
    <hr>

    <form action="">
      <h3>FUNDO DO SITE</h3>
      <fieldset>
        <div class="select">
          <label>Imagem de fundo</label>
          <div class="cs-dropdown cs-dropdown-background">
            <span class="cs-dropdown-selected">
              <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
            </span>
            <ul class="cs-list">
              <li>
                <a href="javascript:;">
                  <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="input">
          <label for="cs-site-file">Enviar imagem</label>
          <input type="file" name="cs-site-file" id="cs-site-file" style="width: 100%">
        </div>
        <div class="select">
          <label>Formatação</label>
          <select id="cs-site-repeat">
            <option selected="" value="repeat">Repetir tudo</option>
            <option value="repeat-x">Repetir horizontal</option>
            <option value="repeat-y">Repetir vertical</option>
            <option value="no-repeat">Não repetir</option>
          </select>
        </div>
        <div class="input">
          <label for="cs-site-background-color">Cor de fundo</label>
          <div style="width:149px;" class="evo-cp-wrap">
            <input type="text" name="cs-site-background-color" id="cs-site-background-color" data-module="colorpicker" class="colorPicker evo-cp8">
            <div class="evo-pointer evo-colorind" style=""></div>
          </div>
        </div>
      </fieldset>
      <hr>

      <h3>FONTES E CORES</h3>
      <div id="ember570" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-title" data-ember-action="571">
        <label for="cs-sidebar-toggle-title">Título do site</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="select">
            <label for="cs-edit-fontfamily-title">Fonte</label>
            <select id="cs-edit-fontfamily-title">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontsize-title">Tamanho</label>
            <select id="cs-edit-fontsize-title">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontstyle-title">Estilo</label>
            <select id="cs-edit-fontstyle-title">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="input">
            <label for="cs-edit-textcolor-title">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-title" class="colorPicker evo-cp0">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
      <div id="ember572" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-texts" data-ember-action="573">
        <label for="cs-sidebar-toggle-texts">Textos do site</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="select">
            <label for="cs-edit-fontfamily-texts">Fonte</label>
            <select id="cs-edit-fontfamily-texts">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontsize-texts">Tamanho</label>
            <select id="cs-edit-fontsize-texts">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontstyle-texts">Estilo</label>
            <select id="cs-edit-fontstyle-texts">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="input">
            <label for="cs-edit-textcolor-texts">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-texts" class="colorPicker evo-cp1">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
      <div id="ember574" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-buttons" data-ember-action="575">
        <label for="cs-sidebar-toggle-buttons">Botões (todos os botões)</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="select">
            <label for="cs-edit-fontfamily-buttons">Fonte</label>
            <select id="cs-edit-fontfamily-buttons">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontsize-buttons">Tamanho</label>
            <select id="cs-edit-fontsize-buttons">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontstyle-buttons">Estilo</label>
            <select id="cs-edit-fontstyle-buttons">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="input">
            <label for="cs-edit-textcolor-buttons">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-buttons" class="colorPicker evo-cp2">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

          <a href="javascript:;">Avançado</a>
        </fieldset>
      </div>
      <div id="ember576" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-nav" data-ember-action="577">
        <label for="cs-sidebar-toggle-nav">Menu de navegação</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="select">
            <label for="cs-edit-fontfamily-nav">Fonte</label>
            <select id="cs-edit-fontfamily-nav">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontsize-nav">Tamanho</label>
            <select id="cs-edit-fontsize-nav">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontstyle-nav">Estilo</label>
            <select id="cs-edit-fontstyle-nav">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="input">
            <label for="cs-edit-textcolor-nav">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-nav" class="colorPicker evo-cp3">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

            <div class="input">
              <label for="cs-edit-texthover-nav">Cor do texto</label>
              <div style="width:116px;" class="evo-cp-wrap">
                <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-texthover-nav" class="colorPicker evo-cp4">
                <div class="evo-pointer evo-colorind" style=""></div>
              </div>
            </div>

        </fieldset>
      </div>
      <div id="ember578" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-products" data-ember-action="579">
        <label for="cs-sidebar-toggle-products">Produtos da loja virtual</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="select">
            <label for="cs-edit-fontfamily-products">Fonte</label>
            <select id="cs-edit-fontfamily-products">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontsize-products">Tamanho</label>
            <select id="cs-edit-fontsize-products">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontstyle-products">Estilo</label>
            <select id="cs-edit-fontstyle-products">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="input">
            <label for="cs-edit-textcolor-products">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-products" class="colorPicker evo-cp5">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
      <div id="ember580" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-links" data-ember-action="581">
        <label for="cs-sidebar-toggle-links">Links do site</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="select">
            <label for="cs-edit-fontfamily-links">Fonte</label>
            <select id="cs-edit-fontfamily-links">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontsize-links">Tamanho</label>
            <select id="cs-edit-fontsize-links">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="select">
            <label for="cs-edit-fontstyle-links">Estilo</label>
            <select id="cs-edit-fontstyle-links">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="input">
            <label for="cs-edit-textcolor-links">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-links" class="colorPicker evo-cp6">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

          <div class="input">
            <label for="cs-edit-texthover-links">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-texthover-links" class="colorPicker evo-cp7">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
      <hr>
      <label for="cs-themes">Mudar Tema</label>
    </form>
  </div>

  <div id="ember590" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-pages">
    <h2>PAGINAS</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

    <br>

    <input type="checkbox" id="cs-sidebar-new-page">
    <label for="cs-sidebar-new-page">Adicionar página</label>
    <div class="cs-sidebar-new-page">
      <button data-ember-action="591">Criar página</button>
    </div>

    <div id="ember607" class="ember-view cs-pages-list ui-sortable">
        <ul>
            <li id="ember725" data-id="-K1f9iG2xc7bDOgNP6I2" class="ember-view cs-pages-list-item">
              <a id="ember726" href="/pages/-K1f9iG2xc7bDOgNP6I2" class="ember-view">  -K1f9iG2xc7bDOgNP6I2 - 1
              </a>
            </li>
            <li id="ember617" data-id="-K1KYuAfIAnz5bLr3zE6" class="ember-view cs-pages-list-item ui-sortable-handle">
              <a id="ember618" href="/pages/-K1KYuAfIAnz5bLr3zE6" class="ember-view active">  -K1KYuAfIAnz5bLr3zE6 - 2
              </a>
            </li>
            <li id="ember755" data-id="-K1d75cfq5d9qvWUQYX4" class="ember-view cs-pages-list-item">
              <a id="ember756" href="/pages/-K1d75cfq5d9qvWUQYX4" class="ember-view">  -K1d75cfq5d9qvWUQYX4 - 3
              </a>
            </li>
            <li id="ember752" data-id="-K1aNA0KHHNAxOdse4Oj" class="ember-view cs-pages-list-item">
              <a id="ember753" href="/pages/-K1aNA0KHHNAxOdse4Oj" class="ember-view">  -K1aNA0KHHNAxOdse4Oj - 4
              </a>
            </li>
            <li id="ember749" data-id="-K1aBKIaTTITv3Pck2tQ" class="ember-view cs-pages-list-item">
              <a id="ember750" href="/pages/-K1aBKIaTTITv3Pck2tQ" class="ember-view">  -K1aBKIaTTITv3Pck2tQ - 5
              </a>
            </li>
            <li id="ember746" data-id="-K1aAB_uJS1C-SXJDUss" class="ember-view cs-pages-list-item">
              <a id="ember747" href="/pages/-K1aAB_uJS1C-SXJDUss" class="ember-view">  -K1aAB_uJS1C-SXJDUss - 6
              </a>
            </li>
            <li id="ember743" data-id="-K1aAAkigK6tBGAnYRfG" class="ember-view cs-pages-list-item">
              <a id="ember744" href="/pages/-K1aAAkigK6tBGAnYRfG" class="ember-view">  -K1aAAkigK6tBGAnYRfG - 7
              </a>
            </li>
            <li id="ember737" data-id="-K1a4UmA7nwq8hcj5_uG" class="ember-view cs-pages-list-item">
              <a id="ember738" href="/pages/-K1a4UmA7nwq8hcj5_uG" class="ember-view">  Página iniciaa - 8
              </a>
            </li>
            <li id="ember734" data-id="-K1_oFP_O66gfo3XCCC7" class="ember-view cs-pages-list-item">
              <a id="ember735" href="/pages/-K1_oFP_O66gfo3XCCC7" class="ember-view">  -K1_oFP_O66gfo3XCCC7 - 9
              </a>
            </li>
            <li id="ember722" data-id="-K1a4Xx-aGC8hzcyskXH" class="ember-view cs-pages-list-item">
              <a id="ember723" href="/pages/-K1a4Xx-aGC8hzcyskXH" class="ember-view">  -K1a4Xx-aGC8hzcyskXH - 10
              </a>
            </li>
            <li id="ember728" data-id="-K1LJBy9ycmAnxpozRWP" class="ember-view cs-pages-list-item">
              <a id="ember729" href="/pages/-K1LJBy9ycmAnxpozRWP" class="ember-view">  -K1LJBy9ycmAnxpozRWP - 11
              </a>
            </li>
            <li id="ember740" data-id="-K1LAP0_DiU9H9qAE9us" class="ember-view cs-pages-list-item">
              <a id="ember741" href="/pages/-K1LAP0_DiU9H9qAE9us" class="ember-view">  -K1LAP0_DiU9H9qAE9us - 12
              </a>
            </li>
            <li id="ember731" data-id="-K1LZzpXQPS1ZOjxSiD9" class="ember-view cs-pages-list-item">
              <a id="ember732" href="/pages/-K1LZzpXQPS1ZOjxSiD9" class="ember-view">  AEEEE AQUI AQUI AQUI - 13
              </a>
            </li>
        </ul>

    </div>
  </div>

  <input type="checkbox" name="cs-themes" id="cs-themes">
  <section id="ember627" class="ember-view cs-themes">
    <label for="cs-themes" class="cs-themes-close">X</label>
    <h3 class="cs-themes-title">Filtre os temas por categoria ou cor.</h3>
    <form action="">
      <div class="select cs-float-l">
        <label for="cs-theme-activity">Categorias:</label>
        <select id="cs-theme-activity" name="cs-theme-activity">
          <option value="">Todos as áreas de atuação</option>
          <option value="food">Alimentos e bebidas</option>
          <option value="crafts">Artesanato</option>
          <option value="automobiles">Automóveis</option>
          <option value="toys">Brinquedos e games</option>
          <option value="education">Cursos e educação</option>
          <option value="decoration">Decoração</option>
          <option value="electronics">Eletrônicos e informática</option>
          <option value="sports">Esporte</option>
          <option value="photography">Fotografia</option>
          <option value="children">Infantil</option>
          <option value="fashion">Moda</option>
          <option value="music">Música e Eventos</option>
          <option value="services">Prestação de serviços</option>
          <option value="health">Saúde</option>
          <option value="tourism">Turismo</option>
        </select>
      </div>
      <div class="cs-theme-colors cs-float-r">
        <label>Escolha uma cor:</label>

        <input type="radio" value="yellow" id="cs-theme-color-yellow" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-yellow">Amarelo</label>

        <input type="radio" value="blue" id="cs-theme-color-blue" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-blue">Azul</label>

        <input type="radio" value="beige" id="cs-theme-color-beige" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-beige">Bege</label>

        <input type="radio" value="gray" id="cs-theme-color-gray" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-gray">Cinza</label>

        <input type="radio" value="orange" id="cs-theme-color-orange" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-orange">Laranja</label>

        <input type="radio" value="brown" id="cs-theme-color-brown" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-brown">Marrom</label>

        <input type="radio" value="black" id="cs-theme-color-black" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-black">Preto</label>

        <input type="radio" value="pink" id="cs-theme-color-pink" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-pink">Rosa</label>

        <input type="radio" value="green" id="cs-theme-color-green" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-green">Verde</label>

        <input type="radio" value="red" id="cs-theme-color-red" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-red">Vermelho</label>

        <input type="radio" value="wine" id="cs-theme-color-violet" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-violet">Vinho</label>
      </div>

      <ul class="cs-themes-list">
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
      </ul>
    </form>
  </section>
</sidebar>
