<sidebar id="ember527" class="ember-view cs-sidebar">
  <input type="radio" id="cs-sidebar-nav-elements" name="cs-sidebar-nav" >
  <label for="cs-sidebar-nav-elements" title="Incluir elementos" class="cs-tab-label cs-ico-block">elementos</label>
  <input type="radio" id="cs-sidebar-nav-appearance" name="cs-sidebar-nav" checked="checked">
  <label for="cs-sidebar-nav-appearance" title="Editar aparência" class="cs-tab-label cs-ico-apparence">aparência</label>
  <input type="radio" id="cs-sidebar-nav-pages" name="cs-sidebar-nav" >
  <label for="cs-sidebar-nav-pages" title="Configurar páginas" class="cs-tab-label cs-ico-pages">páginas</label>



  <%= partial 'partials/tab-sidebar-1' %>
  <%= partial 'partials/tab-sidebar-2' %>
  <%= partial 'partials/tab-sidebar-3' %>


  <input type="checkbox" name="cs-themes" id="cs-themes">
  <section id="ember627" class="ember-view cs-themes">
    <label for="cs-themes" class="cs-themes-close">X</label>
    <h3 class="cs-themes-title">Filtre os temas por categoria ou cor.</h3>
    <form action="">
      <div class="select cs-float-l">
        <label for="cs-theme-activity">Categorias:</label>
        <select id="cs-theme-activity" name="cs-theme-activity">
          <option value="">Todos as áreas de atuação</option>
          <option value="food">Alimentos e bebidas</option>
          <option value="crafts">Artesanato</option>
          <option value="automobiles">Automóveis</option>
          <option value="toys">Brinquedos e games</option>
          <option value="education">Cursos e educação</option>
          <option value="decoration">Decoração</option>
          <option value="electronics">Eletrônicos e informática</option>
          <option value="sports">Esporte</option>
          <option value="photography">Fotografia</option>
          <option value="children">Infantil</option>
          <option value="fashion">Moda</option>
          <option value="music">Música e Eventos</option>
          <option value="services">Prestação de serviços</option>
          <option value="health">Saúde</option>
          <option value="tourism">Turismo</option>
        </select>
      </div>
      <div class="cs-theme-colors cs-float-r">
        <label>Escolha uma cor:</label>

        <input type="radio" value="yellow" id="cs-theme-color-yellow" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-yellow">Amarelo</label>

        <input type="radio" value="blue" id="cs-theme-color-blue" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-blue">Azul</label>

        <input type="radio" value="beige" id="cs-theme-color-beige" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-beige">Bege</label>

        <input type="radio" value="gray" id="cs-theme-color-gray" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-gray">Cinza</label>

        <input type="radio" value="orange" id="cs-theme-color-orange" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-orange">Laranja</label>

        <input type="radio" value="brown" id="cs-theme-color-brown" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-brown">Marrom</label>

        <input type="radio" value="black" id="cs-theme-color-black" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-black">Preto</label>

        <input type="radio" value="pink" id="cs-theme-color-pink" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-pink">Rosa</label>

        <input type="radio" value="green" id="cs-theme-color-green" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-green">Verde</label>

        <input type="radio" value="red" id="cs-theme-color-red" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-red">Vermelho</label>

        <input type="radio" value="wine" id="cs-theme-color-violet" name="cs-theme-color">
        <label class="cs-replace" for="cs-theme-color-violet">Vinho</label>
      </div>

      <ul class="cs-themes-list">
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
        <li>
          <img src="/assets/images/preview.png" alt="">
          <span class="cs-themes-actions">
            <a href="javascript:;" title="Ver">Ver</a>
            <a href="javascript:;" title="Aplicar">Aplicar</a>
          </span>
        </li>
      </ul>
    </form>
  </section>
</sidebar>
