<div id="ember590" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-pages">
  <h2>PAGINAS</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

  <br>

  <input type="checkbox" id="cs-sidebar-new-page">
  <label for="cs-sidebar-new-page">Adicionar página</label>
  <div class="cs-sidebar-new-page">
    <button data-ember-action="591">Criar página</button>
  </div>

  <div id="ember607" class="ember-view cs-pages-list ui-sortable">
      <ul>
          <li id="ember725" data-id="-K1f9iG2xc7bDOgNP6I2" class="ember-view cs-pages-list-item">
            <a id="ember726" href="/pages/-K1f9iG2xc7bDOgNP6I2" class="ember-view">  -K1f9iG2xc7bDOgNP6I2 - 1
            </a>
          </li>
          <li id="ember617" data-id="-K1KYuAfIAnz5bLr3zE6" class="ember-view cs-pages-list-item ui-sortable-handle">
            <a id="ember618" href="/pages/-K1KYuAfIAnz5bLr3zE6" class="ember-view active">  -K1KYuAfIAnz5bLr3zE6 - 2
            </a>
          </li>
          <li id="ember755" data-id="-K1d75cfq5d9qvWUQYX4" class="ember-view cs-pages-list-item">
            <a id="ember756" href="/pages/-K1d75cfq5d9qvWUQYX4" class="ember-view">  -K1d75cfq5d9qvWUQYX4 - 3
            </a>
          </li>
          <li id="ember752" data-id="-K1aNA0KHHNAxOdse4Oj" class="ember-view cs-pages-list-item">
            <a id="ember753" href="/pages/-K1aNA0KHHNAxOdse4Oj" class="ember-view">  -K1aNA0KHHNAxOdse4Oj - 4
            </a>
          </li>
          <li id="ember749" data-id="-K1aBKIaTTITv3Pck2tQ" class="ember-view cs-pages-list-item">
            <a id="ember750" href="/pages/-K1aBKIaTTITv3Pck2tQ" class="ember-view">  -K1aBKIaTTITv3Pck2tQ - 5
            </a>
          </li>
          <li id="ember746" data-id="-K1aAB_uJS1C-SXJDUss" class="ember-view cs-pages-list-item">
            <a id="ember747" href="/pages/-K1aAB_uJS1C-SXJDUss" class="ember-view">  -K1aAB_uJS1C-SXJDUss - 6
            </a>
          </li>
          <li id="ember743" data-id="-K1aAAkigK6tBGAnYRfG" class="ember-view cs-pages-list-item">
            <a id="ember744" href="/pages/-K1aAAkigK6tBGAnYRfG" class="ember-view">  -K1aAAkigK6tBGAnYRfG - 7
            </a>
          </li>
          <li id="ember737" data-id="-K1a4UmA7nwq8hcj5_uG" class="ember-view cs-pages-list-item">
            <a id="ember738" href="/pages/-K1a4UmA7nwq8hcj5_uG" class="ember-view">  Página iniciaa - 8
            </a>
          </li>
          <li id="ember734" data-id="-K1_oFP_O66gfo3XCCC7" class="ember-view cs-pages-list-item">
            <a id="ember735" href="/pages/-K1_oFP_O66gfo3XCCC7" class="ember-view">  -K1_oFP_O66gfo3XCCC7 - 9
            </a>
          </li>
          <li id="ember722" data-id="-K1a4Xx-aGC8hzcyskXH" class="ember-view cs-pages-list-item">
            <a id="ember723" href="/pages/-K1a4Xx-aGC8hzcyskXH" class="ember-view">  -K1a4Xx-aGC8hzcyskXH - 10
            </a>
          </li>
          <li id="ember728" data-id="-K1LJBy9ycmAnxpozRWP" class="ember-view cs-pages-list-item">
            <a id="ember729" href="/pages/-K1LJBy9ycmAnxpozRWP" class="ember-view">  -K1LJBy9ycmAnxpozRWP - 11
            </a>
          </li>
          <li id="ember740" data-id="-K1LAP0_DiU9H9qAE9us" class="ember-view cs-pages-list-item">
            <a id="ember741" href="/pages/-K1LAP0_DiU9H9qAE9us" class="ember-view">  -K1LAP0_DiU9H9qAE9us - 12
            </a>
          </li>
          <li id="ember731" data-id="-K1LZzpXQPS1ZOjxSiD9" class="ember-view cs-pages-list-item">
            <a id="ember732" href="/pages/-K1LZzpXQPS1ZOjxSiD9" class="ember-view">  AEEEE AQUI AQUI AQUI - 13
            </a>
          </li>
      </ul>

  </div>
</div>
