<div id="ember536" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-elements cs-widgets-group">
 <p>Click e arraste para a área de edição</p>

  <div id="ember553a" data-kind="text" class="cs-ico-text ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">Texto
  </div>
  <div id="ember553b" data-kind="image" class="cs-ico-image ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">Imagem
  </div>
  <div id="ember553c" data-kind="form" class="cs-ico-gallery ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">Galeria
  </div>
  <div id="ember553d" data-kind="form" class="cs-ico-video ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">
  Vídeo
  </div>
  <div id="ember553e" data-kind="form" class="cs-ico-ok ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">
  Botão
  </div>
  <div id="ember553f" data-kind="form" class="cs-ico-form ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">
  Formulário
  </div>
  <div id="ember553g" data-kind="form" class="cs-ico-share ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">
  Redes Sociais
  </div>
  <div id="ember553h" data-kind="form" class="cs-ico-sale ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">
  Venda On-line
  </div>
  <div id="ember553i  " data-kind="form" class="cs-ico-code ember-view cs-sidebar-widget ui-draggable ui-draggable-handle">
  Código
  </div>
</div>
