<div id="ember590" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-pages">
  <p>Configure páginas existentes, adicione páginas novas ou altere itens do menu.</p>

  <a href="" class="cs-btn-primary cs-btn-center">Adicionar páginas</a>
  <a href="" class="cs-btn-secondary cs-btn-center">Adicionar link externo</a>

 <!--  <input type="checkbox" id="cs-sidebar-new-page">
  <label for="cs-sidebar-new-page">Adicionar página</label>
  <div class="cs-sidebar-new-page">
    <button data-ember-action="591">Criar página</button>
  </div> -->

  <div id="ember607" class="ember-view cs-pages-list ui-sortable">
      <ul class="cs-list-pages" id="sortable">
          <li id="ember725" data-id="-K1f9iG2xc7bDOgNP6I2" class="ember-view ui-state-disabled cs-pages-list-item">

          <a id="ember726" href="" class="cs-pages-link ember-view"><span class="cs-ico-home"></span>Home</a>
              <a href="" class="cs-ico-duplicate" title="Duplicar página"></a>
              <a href="" class="cs-ico-config" title="Configurar página"></a>
          </li>
          <li id="ember617" data-id="-K1KYuAfIAnz5bLr3zE6" class="ember-view ui-state-default cs-pages-list-item ">

              <a id="ember618" href="" class="cs-pages-link ember-view cs-page-hidden"><span class="cs-ico-drag"></span> Produtos <em>(oculto)</em></a>
              <a href="" class="cs-ico-duplicate" title="Duplicar página"></a>
              <a href="" class="cs-ico-config" title="Configurar página"></a>
          </li>
          </li>
          <li id="ember755" data-id="-K1d75cfq5d9qvWUQYX4"  class="ember-view ui-state-default cs-pages-list-item">
                <a id="ember756" href="" class="cs-pages-link ember-view"><span class="cs-ico-drag"></span>Contato</a>
              <a href="" class="cs-ico-duplicate" title="Duplicar página"></a>
              <a href="" class="cs-ico-config" title="Configurar página"></a>
          </li>
          <li id="ember752" data-id="-K1aNA0KHHNAxOdse4Oj" class="ember-view ui-state-default cs-pages-list-item">
              <a id="ember753" href="" class="cs-pages-link ember-view cs-page-hidden"><span class="cs-ico-drag"></span>Links Úteis <em>(oculto)</em></a>
              <a href="" class="cs-ico-duplicate" title="Duplicar página"></a>
              <a href="" class="cs-ico-config" title="Configurar página"></a>
            </div>
          </li>
      </ul>

  </div>
</div>
