<div id="ember590" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-pages">
  <p>Configure páginas existentes, adicione páginas novas ou altere itens do menu.</p>

  <a href="" class="cs-btn-primary">Adicionar páginas</a>
  <a href="" class="cs-btn-secondary">Adicionar link externo</a>

 <!--  <input type="checkbox" id="cs-sidebar-new-page">
  <label for="cs-sidebar-new-page">Adicionar página</label>
  <div class="cs-sidebar-new-page">
    <button data-ember-action="591">Criar página</button>
  </div> -->

  <div id="ember607" class="ember-view cs-pages-list ui-sortable">
      <ul class="cs-list-pages">
          <li id="ember725" data-id="-K1f9iG2xc7bDOgNP6I2" class="ember-view cs-pages-list-item">
            <a id="ember726" href="/pages/-K1f9iG2xc7bDOgNP6I2" class="ember-view">Home</a>
          </li>
          <li id="ember617" data-id="-K1KYuAfIAnz5bLr3zE6" class="ember-view cs-pages-list-item ui-sortable-handle">
            <a id="ember618" href="/pages/-K1KYuAfIAnz5bLr3zE6" class="ember-view cs-page-hidden">Produtos (oculto)</a>
          </li>
          <li id="ember755" data-id="-K1d75cfq5d9qvWUQYX4" class="ember-view cs-pages-list-item">
            <a id="ember756" href="/pages/-K1d75cfq5d9qvWUQYX4" class="ember-view">Contato</a>
          </li>
          <li id="ember752" data-id="-K1aNA0KHHNAxOdse4Oj" class="ember-view cs-pages-list-item">
            <a id="ember753" href="/pages/-K1aNA0KHHNAxOdse4Oj" class="ember-view cs-page-hidden">Links Úteis (oculto)</a>
          </li>
      </ul>

  </div>
</div>
