<div id="ember561" class="ember-view cs-sidebar-nav-option cs-sidebar-nav-appearance">
  <p>Configure Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et </p>
  <a href="#" class="cs-btn-primary cs-btn-center">Editar CSS </a>
  <form action="">
    <h2 class="cs-title">Fundo do Site</h2>
    <fieldset class="cs-fieldset">
      <div class="cs-field">
        <div class="cs-dropdown-secondary cs-dropdown-background">
          <a href="#" class="cs-btn">
            <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
          </a>
          <ul class="cs-list">
            <li>
              <a href="javascript:;">
                <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="cs-field">
        <label for="cs-site-file" class="cs-ico-upload">Enviar imagem</label>
        <input type="file" name="cs-site-file" id="cs-site-file">
      </div>
      <div class="cs-field">
        <label>Formatação</label>
        <div class="cs-custom-select-secondary">
          <select class="ls-select" id="cs-site-repeat">
            <option selected="" value="repeat">Repetir tudo</option>
            <option value="repeat-x">Repetir horizontal</option>
            <option value="repeat-y">Repetir vertical</option>
            <option value="no-repeat">Não repetir</option>
          </select>
        </div>
      </div>
      <!-- <div class="cs-field">
        <label for="cs-site-background-color">Cor de fundo</label>
        <div style="width:149px;" class="evo-cp-wrap">
          <input type="text" name="cs-site-background-color" id="cs-site-background-color" data-module="colorpicker" class="colorPicker evo-cp8">
          <div class="evo-pointer evo-colorind" style=""></div>
        </div>
      </div> -->
    </fieldset>

    <h2 class="cs-title">Fontes de Cores</h2>
    <div class="cd-sidebar-group">
      <div id="ember570" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-title" data-ember-action="571">
        <label for="cs-sidebar-toggle-title">Título do site</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="cs-field">
            <label for="cs-edit-fontfamily-title">Fonte</label>
            <select id="cs-edit-fontfamily-title">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontsize-title">Tamanho</label>
            <select id="cs-edit-fontsize-title">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontstyle-title">Estilo</label>
            <select id="cs-edit-fontstyle-title">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-textcolor-title">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-title" class="colorPicker evo-cp0">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
      <div id="ember572" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-texts" data-ember-action="573">
        <label for="cs-sidebar-toggle-texts">Textos do site</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="cs-field">
            <label for="cs-edit-fontfamily-texts">Fonte</label>
            <select id="cs-edit-fontfamily-texts">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontsize-texts">Tamanho</label>
            <select id="cs-edit-fontsize-texts">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontstyle-texts">Estilo</label>
            <select id="cs-edit-fontstyle-texts">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-textcolor-texts">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-texts" class="colorPicker evo-cp1">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
      <div id="ember574" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-buttons" data-ember-action="575">
        <label for="cs-sidebar-toggle-buttons">Botões (todos os botões)</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="cs-field">
            <label for="cs-edit-fontfamily-buttons">Fonte</label>
            <select id="cs-edit-fontfamily-buttons">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontsize-buttons">Tamanho</label>
            <select id="cs-edit-fontsize-buttons">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontstyle-buttons">Estilo</label>
            <select id="cs-edit-fontstyle-buttons">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-textcolor-buttons">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-buttons" class="colorPicker evo-cp2">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

          <a href="javascript:;">Avançado</a>
        </fieldset>
      </div>
      <div id="ember576" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-nav" data-ember-action="577">
        <label for="cs-sidebar-toggle-nav">Menu de navegação</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="cs-field">
            <label for="cs-edit-fontfamily-nav">Fonte</label>
            <select id="cs-edit-fontfamily-nav">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontsize-nav">Tamanho</label>
            <select id="cs-edit-fontsize-nav">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontstyle-nav">Estilo</label>
            <select id="cs-edit-fontstyle-nav">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-textcolor-nav">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-nav" class="colorPicker evo-cp3">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

            <div class="cs-field">
              <label for="cs-edit-texthover-nav">Cor do texto</label>
              <div style="width:116px;" class="evo-cp-wrap">
                <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-texthover-nav" class="colorPicker evo-cp4">
                <div class="evo-pointer evo-colorind" style=""></div>
              </div>
            </div>

        </fieldset>
      </div>
      <div id="ember578" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-products" data-ember-action="579">
        <label for="cs-sidebar-toggle-products">Produtos da loja virtual</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="cs-field">
            <label for="cs-edit-fontfamily-products">Fonte</label>
            <select id="cs-edit-fontfamily-products">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontsize-products">Tamanho</label>
            <select id="cs-edit-fontsize-products">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontstyle-products">Estilo</label>
            <select id="cs-edit-fontstyle-products">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-textcolor-products">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-products" class="colorPicker evo-cp5">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
      <div id="ember580" class="ember-view">
        <input type="checkbox" name="cs-sidebar-toggle" id="cs-sidebar-toggle-links" data-ember-action="581">
        <label for="cs-sidebar-toggle-links">Links do site</label>
        <fieldset class="cs-sidebar-toggle-content">
          <div class="cs-field">
            <label for="cs-edit-fontfamily-links">Fonte</label>
            <select id="cs-edit-fontfamily-links">
              <option>Arial</option>
              <option>Futura</option>
              <option>Verdana</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontsize-links">Tamanho</label>
            <select id="cs-edit-fontsize-links">
              <option>8</option>
              <option>10</option>
              <option>12</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-fontstyle-links">Estilo</label>
            <select id="cs-edit-fontstyle-links">
              <option>Negrito</option>
              <option>Itálico</option>
              <option>Sem estilo</option>
            </select>
          </div>
          <div class="cs-field">
            <label for="cs-edit-textcolor-links">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-textcolor-links" class="colorPicker evo-cp6">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

          <div class="cs-field">
            <label for="cs-edit-texthover-links">Cor do texto</label>
            <div style="width:116px;" class="evo-cp-wrap">
              <input type="text" data-module="colorpicker" style="width: 90px;" id="cs-edit-texthover-links" class="colorPicker evo-cp7">
              <div class="evo-pointer evo-colorind" style=""></div>
            </div>
          </div>

        </fieldset>
      </div>
    </div>
    <label for="cs-themes" class="cs-btn-secondary cs-btn-center">Mudar Tema</label>
  </form>
</div>
