<header id="ember481" class="ember-view cs-topbar">
  <h1 class="cs-logo cs-inline-block"><a id="ember488" href="/" class="ember-view">Criador de Sites</a></h1>

  <div class="cs-alerts-list">
    <a href="#" class="cs-ico-alert" data-counter="5" data-cs-module="topbarCurtain" data-target="#cs-notification-curtain"><span>Notificações</span></a>
    <a href="#" class="cs-ico-suggestion" data-cs-module="topbarCurtain" data-target="#cs-help-curtain"><span>Ajuda</span></a>
    <a href="#" class="cs-ico-question" data-cs-module="topbarCurtain" data-target="#cs-feedback-curtain"><span>Sugestões</span></a>
  </div>

  <div class="cs-custom-select cs-lang">
    <select class="ls-select">
      <option value="1">pt_BR</option>
      <option value="1">pt_BR</option>
      <option value="1">pt_BR</option>
      <option value="1">pt_BR</option>
    </select>
  </div>

  <div class="cs-custom-select-auto">
    <select class="ls-select">
      <option value="1">Home </option>
      <option value="1">Quem somos</option>
      <option value="1">Contato</option>
    </select>
  </div>

  <div class="cs-group-btn cs-group-active">
    <input type="radio" id="radio1" name="radio">
    <label for="radio1" class="cs-btn cs-ico-back" title="Voltar edição"></label>
    <input type="radio" id="radio2" name="radio">
    <label for="radio2" class="cs-btn cs-ico-go" title="Avançar edição"></label>
  </div>

  <div class="cs-group-btn">
    <button type="button" title="Salvar site" class="cs-btn">Salvar</button>
    <button type="button" title="Visualizar site" class="cs-btn">Visualizar</button>
    <button type="button" title="Publicar site" class="cs-btn-primary">Publicar</button>
  </div>



  <!-- <div class="cs-dropdown">
    <span class="cs-dropdown-selected">Precisa de ajuda (?)</span>
    <ul>
      <li>Central de ajuda (Wiki)</li>
      <li>Dicas em Vídeo</li>
    </ul>
  </div> -->

 <!--  <div class="cs-topbar-tools">
    <a class="cs-inline-block">Desfazer</a>
    <a class="cs-inline-block">Refazer</a>

    <a class="cs-inline-block">Desktop View</a>
    <a class="cs-inline-block">Mobile View</a>

    <a class="cs-inline-block">Salvar</a>

    <button class="cs-inline-block">Publicar</button>

    <div class="cs-dropdown">
      <span class="cs-dropdown-selected">Opções</span>
      <ul class="cs-right">
        <li>Sair da edição</li>
        <li>Meus sites</li>
        <li><a id="ember510" href="/sites/new" class="create-site ember-view">Criar site em outro idioma</a></li>
      </ul>
    </div>
  </div> -->
</header>
