<h2>Paleta de cores</h2>
<div class="cs-nav-color">
  <span class="cs-color-1">Base 1</span>
  <span class="cs-color-2">Base 2</span>
  <span class="cs-color-3">Base 3</span>
  <br>
  <span class="cs-color-4">Azul 1</span>
  <span class="cs-color-5">Azul 2</span>
  <span class="cs-color-6">Azul 3</span>
  <span class="cs-color-7">Azul 4</span>
  <span class="cs-color-8">Azul 5</span>
  <br>
  <span class="cs-color-gray-1">Cinza 1</span>
  <span class="cs-color-gray-2">Cinza 2</span>
  <span class="cs-color-gray-3">Cinza 3</span>
</div>