<div id="dropdown">

    <div class="cs-dropdown">
      <a href="" title="" class="cs-btn"></a>
      <ul>
        <li><a href="" title="">Meus sites</a></li>
        <li><a href="" title="">Sair da edição</a></li>
      </ul>
    </div>


    <div class="cs-dropdown">
      <a href="" title="" class="cs-btn">Administrar</a>
      <ul>
        <li><a href="" title="">Meus sites</a></li>
        <li><a href="" title="">Sair da edição</a></li>
      </ul>
    </div>

    <h2>Dropdown com imagem</h2>

    <div class="cs-dropdown cs-dropdown-background">
      <a href="#" class="cs-btn">
        <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
      </a>
      <ul class="cs-list">
        <li>
          <a href="javascript:;">
            <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
          </a>
        </li>
      </ul>
    </div>

    <br><br>
    <div class="dark">
      <h2>Dropdown escuro com imagem</h2>

      <div class="cs-dropdown-secondary cs-dropdown-background">
        <a href="#" class="cs-btn">
          <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
        </a>
        <ul class="cs-list">
          <li>
            <a href="javascript:;">
              <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="http://www.mycutegraphics.com/backgrounds/summer/th-popsicle-background.gif" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>