<div id="icones">
    <h2>Ícones</h2>
    <ul>
      <li class="cs-ico-apparence">cs-ico-apparence</li>
      <li class="cs-ico-block">cs-ico-block</li>
      <li class="cs-ico-pages">cs-ico-pages</li>
      <li class="cs-ico-go">cs-ico-go</li>
      <li class="cs-ico-back">cs-ico-back</li>
      <li class="cs-ico-alert">cs-ico-alert</li>
      <li class="cs-ico-ok">cs-ico-ok</li>
      <li class="cs-ico-check">cs-ico-check</li>
      <li class="cs-ico-close">cs-ico-close</li>
      <li class="cs-ico-code">cs-ico-code</li>
      <li class="cs-ico-config">cs-ico-config</li>
      <li class="cs-ico-arrow-down">cs-ico-arrow-down</li>
      <li class="cs-ico-arrow-up">cs-ico-arrow-up</li>
      <li class="cs-ico-duplicate">cs-ico-duplicate</li>
      <li class="cs-ico-question">cs-ico-question</li>
      <li class="cs-ico-edit">cs-ico-edit</li>
      <li class="cs-ico-form">cs-ico-form</li>
      <li class="cs-ico-gallery">cs-ico-gallery</li>
      <li class="cs-ico-home">cs-ico-home</li>
      <li class="cs-ico-image">cs-ico-image</li>
      <li class="cs-ico-trash">cs-ico-trash</li>
      <li class="cs-ico-more">cs-ico-more</li>
      <li class="cs-ico-drag">cs-ico-drag</li>
      <li class="cs-ico-share">cs-ico-share</li>
      <li class="cs-ico-arrows">cs-ico-arrows</li>
      <li class="cs-ico-suggestion">cs-ico-suggestion</li>
      <li class="cs-ico-text">cs-ico-text</li>
      <li class="cs-ico-upload">cs-ico-upload</li>
      <li class="cs-ico-sale">cs-ico-sale</li>
      <li class="cs-ico-video">cs-ico-video</li>
      <li class="cs-ico-logo">cs-ico-logo</li>
      <li class="cs-ico-arrow-x">cs-ico-arrow-x</li>
      <li class="cs-ico-arrow-y">cs-ico-arrow-y</li>
    </ul>
  </div>