<div id="prefix">

	<label class="cs-label">
    <b class="cs-label-text">Sufixo</b>
		<div class="cs-prefix-group">
		  <input class="cs-field">
		  <button class="cs-prefix">.net</button>
		</div>
    
  </label>

  <label class="cs-label">
    <b class="cs-label-text">Prefixo</b>
		<div class="cs-prefix-group">
		  <span class="cs-prefix">http://</span>
		  <input class="cs-field">
		</div>
    
  </label>

  <label class="cs-label">
    <b class="cs-label-text">Ambos</b>
		<div class="cs-prefix-group">
		  <span class="cs-prefix cs-ico-text"></span>
		  <input class="cs-field">
		  <button class="cs-prefix cs-ico-upload"></button>
		</div>
    
  </label>
	

</div>	