  <div id="select">
    <h2>Select customizada</h2>
    <div class="cs-custom-select">
      <select class="ls-select">
        <option value="1"> Opção 1 </option>
        <option value="2"> Opção 2 </option>
        <option value="3"> Opção 3 </option>
        <option value="4"> Opção 4 </option>
      </select>
    </div>

    <br><br>
    
    <h2>Select pequena</h2>
    <div class="cs-custom-select cs-size-small">
      <select class="ls-select" id="cs-site-repeat">
        <option selected="" value="repeat">Repetir tudo</option>
        <option value="repeat-x">Repetir horizontal</option>
        <option value="repeat-y">Repetir vertical</option>
        <option value="no-repeat">Não repetir</option>
      </select>
    </div>

    <div class="dark">

      <h2>Select dark</h2>
      <div class="cs-custom-select-secondary">
        <select class="ls-select">
          <option value="1"> Opção 1 </option>
          <option value="2"> Opção 2 </option>
          <option value="3"> Opção 3 </option>
          <option value="4"> Opção 4 </option>
        </select>
      </div>
    </div>

  </div>