<div id="tooltip">
	<h2>Tooltips</h2>
	<a href="#" class="cs-tooltip-top" aria-label="Uma informação acima">
		<span class="cs-help-info"></span>
	</a>

	<a href="#" class="cs-tooltip-right" aria-label="Uma informação à direita">
		<span class="cs-help-info"></span>
	</a>

	<a href="#" class="cs-tooltip-bottom" aria-label="Uma informação abaixo">
		<span class="cs-help-info"></span>
	</a>

	<a href="#" class="cs-tooltip-left" aria-label="Uma informação à esquerda">
		<span class="cs-help-info"></span>
	</a>
	

</div>	