.cs-sidebar-nav-appearance
  .cs-title:first-child
    @extend %border-dotted

.cs-sidebar-toggle-content
  border: none

input[id*="cs-sidebar-toggle-"]
  @extend input[id*="cs-sidebar-nav-"]

  &:checked + label
    border-bottom: none
    background: $colorDark

    &:after
      content: "\e91e"

    + .cs-sidebar-toggle-content
      display: block
      background: $colorDark
      @extend %border-full-sidebar
      @extend %border-dotted
      padding-bottom: 20px

label[for*="cs-sidebar-toggle-"]
  @extend %border-dotted
  @extend %border-full-sidebar
  display: block
  padding-top: 15px
  padding-bottom: 15px
  font-size: 14px
  cursor: pointer

  &:after
    content: "\e90a"
    font-family: 'yata'
    float: right

  &:first
    border-top: 1px dotted rgba($colorWhite, .15)

  &:hover
    background: $colorDark

.cs-sidebar-toggle-content
  display: none

.cd-sidebar-group
  border-top: 1px dotted rgba($colorWhite, .15)
  @extend %border-full-sidebar
  margin-bottom: 40px


