.cs-widgets-group
  padding: 10px
  overflow: visible

.cs-sidebar-widget
  width: 30%
  height: 50px
  margin: 5px 0
  border: 1px solid #000
  border-radius: 5px
  display: inline-block
  padding: 10px
