.cs-pages-list.ui-sortable
  border: none
  border-top: 1px dotted rgba($colorWhite, .15)
  @extend %border-full-sidebar
  margin-top: 45px


  li
    list-style: none
    @extend %border-dotted
    @extend %border-full-sidebar
    @extend %animate-default
    position: relative


    a
      text-decoration: none
      color: $colorGray1
      padding-left: 15px

    .cs-pages-link
      display: block
      padding: 20px 0 20px 15px
      padding-bottom: 20px

      .cs-ico-drag
        cursor: move

      .cs-ico-drag,
      .cs-ico-home
        left: 15px

      &.cs-page-hidden
        color: #475052

      &.cs-ico-home:before
        content: "\e910"

    [class*="cs-ico"]:not(.cs-pages-link)
      position: absolute
      top: 21px

      &:hover,
      &.cs-active
        color: $colorWhite

    .cs-ico-duplicate
      right: 52px

    .cs-ico-config
      right: 26px


    &:hover
      background: rgba($colorBlue4, 0.4)


input[name="cs-sidebar-new-page"]
  @extend input[id*="cs-sidebar-nav-"]

  &:checked + .cs-sidebar-new-page
    visibility: visible
    opacity: 1
    @include transform(translate(0px, 0))

.cs-sidebar-new-page
  position: absolute
  top: 0
  left: $sidebarWidth
  width: 500px
  margin: 20px
  padding: 20px
  border: 1px solid $colorBlack
  background: $colorWhite
  z-index: 1
  opacity: 0
  visibility: hidden
  @include transform(translate(30px, 0))
  @include transition(all 0.5s ease-in-out)

  &:before
    content: ""
    @include triangle(25px, $colorBlack, left)
    position: absolute
    left: -13px
    top: 130px

input[id="cs-page-new-config"]
  @extend input[id*="cs-sidebar-nav-"]

  &:checked + label
    font-weight: bold
    
    + .cs-page-new-config
      display: block

.cs-page-new-config
  display: none
