---
title: Home
---

  <%= partial 'partials/topbar' %>

  <main class="cs-main">

    <%= partial 'partials/sidebar' %>

    <div class="cs-page">
      <div class="image-fake">
        <img src="<%= base_url %>/assets/images/content-fake.png" alt="Conteúdo fake">
      </div>
    </div>
  </main>
